* {
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --text-primary: #1768ac;
  --text-secondary: #2541b2;
  --text-black: #000000;
  --text-white: #ffffff;
  --platinum: #e3e3e3;
  --philippine-silver: #b4b4b4;
  --accent-color-1: #03256c;
  --accent-color-3: #297373;
  --light-blue: #d0daff;
  --green-blue: #1a75bb;
  --spanish-gray: #9e9e9e;
  --myrtle-green: #297373;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: initial;
}
